@font-face {
    font-family: "Times New Roman", Times, serif;
    src: url('fonts/"Times New Roman"') format('truetype');
}

* {
    font-family: "Times New Roman", Times, serif;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    background-color: #292655;
    color: #fff;
    height: 100%;
    overflow: auto;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    height: 100vh;
}


[wm-flappy] {
    position: relative;
    border: 5px solid dodgerblue;
    height: 600px;
    width: 800px;
    margin: 15px;
    overflow: hidden;
    display: none;
}

.passaro {
    position: absolute;
    width: 60px;
    left: calc(50% - 30px);
}

.par-de-barreiras {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.barreira {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barreira .borda {
    height: 30px;
    width: 130px;
    background: linear-gradient(90deg, #639301, #A5E82E);
    border: 2px solid #000;
}

.barreira .corpo {
    height: 40px;
    width: 110px;
    background: linear-gradient(90deg, #639301, #A5E82E);
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}

.progresso {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: Pixel;
    font-size: 70px;
    z-index: 100;
}
@font-face {
    font-family: "Times New Roman", Times, serif;
    src: url('fonts/"Times New Roman"') format('truetype');
}

* {
    font-family: "Times New Roman", Times, serif;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    background-color: #292655;
    color: #fff;
    height: 100%;
    overflow: auto;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    height: 100vh;
}


[wm-flappy] {
    position: relative;
    border: 5px solid dodgerblue;
    height: 600px;
    width: 800px;
    margin: 15px;
    overflow: hidden;
    display: none;
}

.passaro {
    position: absolute;
    width: 60px;
    left: calc(50% - 30px);
}

.par-de-barreiras {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.barreira {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barreira .borda {
    height: 30px;
    width: 130px;
    background: linear-gradient(90deg, #639301, #A5E82E);
    border: 2px solid #000;
}

.barreira .corpo {
    height: 40px;
    width: 110px;
    background: linear-gradient(90deg, #639301, #A5E82E);
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}

.progresso {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: Pixel;
    font-size: 70px;
    z-index: 100;
}